{% extends 'reserva/base1.html' %}


{% block content %}

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Listado de pasajeros</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  {% for pasajeros in pasajero %}
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">{{ pasajeros.nombresPasajero }}</h3>
          <h3 class="mb-3">{{ pasajeros.apellidosPasajero }}</h3>
          <h3 class="mb-3">{{ pasajeros.direccionPasajero }}</h3>

        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x  text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3">{{ pasajeros.telefonoPasajero }}</h3>
          <h3 class="mb-3">{{ pasajeros.edadPasajero }}</h3>


        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3"><a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil">Informacion</span></a></h3>
          <p class="text-muted mb-0"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3">Le atendemos con la seguiridad que usted se merece</h3>
          <p class="text-muted mb-0">En este sitio web puede realizar su reservación de vuelo cuando usted quiera!</p>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endfor %}
{% endblock %}
